<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>task01</title>
</head>
<body>
  <form action="/signin" method="get">
    <label for="name">이름 : </label>
    <input type="text" name="name" id="name">
    <fieldset>
      <legend><h2>성별</h2></legend>
        <label for="male">남자</label>
        <input type="radio" name="gender" id="male" value="male">
        <label for="female">여자</label>
        <input type="radio" name="gender" id="female" value="female">
    </fieldset>
    <fieldset>
      <legend><h2>생년월일</h2></legend>
      <select name="birthYear" id="year">
        <% for(let i = 0; i < 50; i++) { %>
        <option value="<%= 2024 - i %>"><%= 2024 - i  %></option>
        <% } %>
        년
      </select>
      <select name="birthMonth" id="month">
        <% for(let i = 1; i <= 12; i++) { %>
        <option value="<%= i %>"><%= i  %></option>
        <% } %>
        월
      </select>
      <select name="birthDay" id="day">
        <% for(let i = 1; i <= 30; i++) { %>
        <option value="<%= i %>"><%= i  %></option>
        <% } %>
        일
      </select>
    </fieldset>
    <fieldset>
      <legend><h2>관심사</h2></legend>
        <label for="travel">여행</label>
        <input type="checkbox" name="hobby" id="travel" value="travel">
        <label for="fashon">패션</label>
        <input type="checkbox" name="hobby" id="fashion" value="fashion">
        <label for="food">음식</label>
        <input type="checkbox" name="hobby" id="food" value="food">
    </fieldset>
    <button type="button" onclick="clickRegister()">회원가입</button>
  </form>

  <div class="reg-result" style="padding: 20px;"></div>

  <script>
    const result = document.querySelector('.reg-result');
    const form = document.forms['register'];
    const hobbys = Array.form(form.hobby).filter((e) => {e.checked == true}).map((e) => {e.value});

    function clickRegister() {
      const userInfo = {
        name : form.name.value,
        gender : form.gender.value,
        bthYear : form.birthYear.value,
        bthMon : form.birthMonth.value,
        bthDay : form.birthDay.value,
        hobbys : hobbys,
      }
      axios({
        mathod : 'get',
        url : '/register',
        success : (userInfo) => {
          console.log('Axios Get Register', userInfo);
          result.textContent = userInfo;
        }
      })
    }
  </script>
</body>
</html>