<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title %></title>
</head>
<body>
  <h1>Login <%=title %></h1>
  <div>Your Id : <%=userInfo.userId %></div>
  <div>Your Pw : <%=userInfo.userPw %></div>
  <div>Your Grade : <%=userInfo.userGrade %></div>
</body>
</html>