<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visitor</title>
  <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script defer src="../static/scripts.js"></script>
</head>
<body>
  <h1>Visitor List</h1>
  <form action="" name="visitor-form">
    <fieldset>
      <legend>Visitor add</legend>
      <input type="text" name="name" id="name" placeholder="Visitor name">
      <input type="text" name="comment" id="comment" placeholder="Comment">
    </fieldset>
    <div id="btn-group">
      <button type="button" onclick="addVisitor()">Add</button>
    </div>
  </form>
  <hr>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Comment</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
        <% for(let i=0;i<data.length;i++) { %>
          <tr id="tr_<%=data[i].id %>">
            <td><%=data[i].id %></td>
            <td><%=data[i].name %></td>
            <td><%=data[i].comment %></td>
            <td><button type="button" onclick="editVisitor('<%=data[i].id %>')">Edit</button></td>
            <td><button type="button" onclick="delVisitor('<%=data[i].id %>')">Delete</button></td>
          </tr>
        <% } %>
    </tbody>
  </table>
</body>
</html>