<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%=userInfo.name %> <br>
  <%=userInfo.gender %> <br>
  <%=userInfo.birthYear %> <br>
  <%=userInfo.birthMonth %> <br>
  <%=userInfo.birthDay %> <br>
  <%=userInfo.checkbox %> <br>
</body>
</html>