<!DOCTYPE html>
<html lang="en">
  <%-include ('head.ejs') %>
<body>
  <h1><%=data.name %>'s info</h1>
  <form name="edit-profile">
    <input type="text" id="userId" value="<%=data.userId %>" readonly> <br>
    <input type="text" id="name" value="<%=data.name %>"> <br>
    <input type="text" id="pw" value="<%=data.pw %>"> <br>
    <input type="text" id="id" value="<%=data.id%>" readonly> <br>
    <button type="button" onclick="edit()">Edit</button>
    <button type="button" onclick="destroy()">Destroy account</button>
  </form>

  <a href="/">Home</a>

  <script>
    const form = document.forms['edit-profile'];
    function edit() {
      axios({
        method: 'PATCH',
        url: '/profile/edit',
        data: {
          id: Number(form.id.value),
          userId: form.userId.value,
          pw: form.pw.value,
          name: form.name.value,
        }
      }).then(res => {
        if(res.data.result) {
          document.location.reload();
        }
      })
    }

    function destroy() {
      if(!confirm('Are you realy destroy your account?')) return;
      axios({
        method: 'DELETE',
        url: '/destroy',
        data: {
          id: Number(document.querySelector('#id').value),
        }
      }).then(res => {
        alert('Account successfully destroyed');
        document.location.href = '/';
      })
    }
  </script>
</body>
</html>